
accelerate>=0.29.3
importlib-metadata~=7.1.0
networkx~=2.6.3
numpy~=1.26.4
pandas~=2.2.2
pytest~=7.2.2
sacremoses~=0.0.53
scikit-learn~=1.5.1
scipy~=1.13.0
Sphinx==7.4.7
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
torch>=2.0.1
tqdm~=4.66.4
transformers>=4.40.1