joblib==1.2.0
networkx~=2.6.3
numpy~=1.21.6
pandas~=1.3.5
pytest~=7.2.2
sacremoses~=0.0.53
scikit-image==0.17.2
scikit-learn~=1.0.2
scipy~=1.7.3
Sphinx==3.2.1
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
threadpoolctl==2.1.0
torch>=1.13.1
tqdm~=4.64.1
transformers>=4.26.1
